<div class="container-fluid">
    <div class="row">
        <!-- First Column - Image -->
        <div class="col-md-6">
            <img src="../wwwroot//image/JoinUs.png" class="img-fluid" alt="Join Us Image">
        </div>

        <!-- Second Column - Signup Form -->
        <div class="col-md-6">
            <div class="row-md-3">
                <h2 class="text-center p-3">Sign-up here</h2>
            </div>

            <form class="p-3">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="bi bi-person"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Name" aria-label="Name" aria-describedby="basic-addon1" required>
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="bi bi-envelope-exclamation"></i></span>
                    </div>
                    <input type="email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon2" required>
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="bi bi-phone-vibrate"></i></span>      
                    </div>
                    <input type="tel" class="form-control" placeholder="Phone Number" aria-label="Phone Number" aria-describedby="basic-addon3" required>
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="bi bi-calendar-check"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Date of Birth" aria-label="Date of Birth" aria-describedby="basic-addon4" required>
                </div>

                <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
            </form>
        </div>
    </div>
</div>