@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}


<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <div class="container pt-5" style="height: 100vh;">
            <div class="text-center">
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">Hello!</h4>
                    <p class="form-control-static">@Model.Username</p>

                    <p>Thank you for being with us.</p>
                    <hr>
                    <p class="mb-0">Feel free to explore and enjoy your time here.</p>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
