@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background-color: #f8f9fa;
    }

    .banner {
        background-image: url('event-banner.jpg');
        background-size: cover;
        color: white;
        text-align: center;
        padding: 150px 0;
        margin-bottom: 0;
    }

    .speakers-section {
        padding: 90px 0;
        text-align: center;
    }

    .speaker-card {
        margin-bottom: 30px;
    }

    .speaker-image {
        border-radius: 50%;
        max-width: 150px;
        margin-bottom: 15px;
        border-radius: 20px;
    }
</style>


<div class="banner">
    <h1 class="display-4 text-dark">AI and Machine Learning</h1>
    <p class="lead text-success">Join us for an exciting event!</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Register Now</a>
</div>

<div class="container speakers-section">
    <h2>Featured Speakers</h2>

    <div class="row">
        <div class="col-md-4">
            <div class="card speaker-card text-center">
                <img src="./middle-aged-man-wearing-jacket-laughing-happy.jpg" alt="Speaker 1" class="speaker-image rounded mx-auto d-block">
                <div class="card-body">
                    <h5 class="card-title">Speaker 1</h5>
                    <p class="card-text">Worked in AI filed for 10 year</p>
                </div>
            </div>
        </div>




    </div>
</div>
        </div>
    </div>