@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 pt-5">
            <img src="https://bernardmarr.com/img/Are%20Machine%20Learning%20And%20AI%20The%20Same.jpg" class="img-fluid" alt="Join Us Image">
        </div>

        <div class="col-md-6">
            <div class="row-md-3">

                <h2 class="text-center p-3">Login here</h2>
            </div>


            <form method="post" class="p-3">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="bi bi-envelope-exclamation"></i></span>
                    </div>
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" required>
                </div>


                <span asp-validation-for="Input.Password" class="text-danger"></span>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="bi bi-lock"></i></span>
                    </div>
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" required>
                </div>


                <button id="login-submit" type="submit" class="btn btn-primary  border-1 form-control">Log in</button>
                <a asp-controller="Home" asp-action="Index" class="btn btn-secondary border-1 form-control">New here</a>
            </form>
        </div>
    </div>
</div>


</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
